# Android and Gradle
*.iml
.gradle/
.idea/
/build/
*/build/
/local.properties
/captures/
.externalNativeBuild/
.cxx/

# Sensitive Information
*.jks
*.keystore
keystore.properties
secrets.properties
google-services.json

# Local / Release Directories
/releases/
/tmp/

# OS-Specific
.DS_Store
Thumbs.db

# Misc
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
